<div [@ani1] 
    class="flex-container"  
    fxLayoutAlign="center center" 
    style="height: 100%">
  
  <main-card
    id="main-card"
    avatarClass="chat_image"
    title="Log In to Free Chat Room"
    subtitle="Enter the info"
    [loading]="loading"
    imgSrc="./../../assets/chat.png"
    >

    <form body>
      <table  cellspacing="0">
        <tr>
          <td>
            <md-input-container class="full-input">
            <input 
              mdInput 
              placeholder="Nickname" 
              name="nickname"
              [(ngModel)]="user.nickName">
          </md-input-container>
        </td>   
        </tr>
        <tr>
          <td>
            <md-input-container class="full-input">
            <input 
              mdInput 
              placeholder="Email" 
              name="email"
              [(ngModel)]="user.email">
          </md-input-container>
        </td>
       </tr>
    </table>
    </form>

    <button action
          md-raised-button 
          class="button-login"
          (click)='login()'>NEXT</button>
          
  </main-card>
</div>






