<div [@ani1] 
    class="flex-container"  
    fxLayoutAlign="center center" 
    class="full-height">
  
  <main-card
    id="main-card"
    avatarClass="chat_image"
    title="Log In to Free Chat Room"
    subtitle="Enter the info"
    [loading]="loading"
    imgSrc="./../../assets/chat.png"
    >

    <form body #theForm="ngForm" (ngSubmit)="login()">
      <table  cellspacing="0">
        <tr>
          <td>
            <md-input-container class="full-input">
            <input 
              mdInput 
              placeholder="Nickname" 
              name="nickname"
              [(ngModel)]="user.nickName"
              autocomplete="off"
              required="required">
          </md-input-container>
        </td>   
        </tr>
        <tr>
          <td>
            <md-input-container class="full-input">
            <input 
              mdInput 
              placeholder="Email" 
              name="email"
              type="email"
              [(ngModel)]="user.email"
              autocomplete="off"
              required="required">
          </md-input-container>
        </td>
       </tr>
    </table>
    </form>

    <button action
          md-raised-button 
          class="button-login"
          [class.disabled] = "!theForm.valid"
         >NEXT</button>
          
  </main-card>
</div>






